<settings>
	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>proxy.corp.paetec.com</host>
			<port>8080</port>
			<nonProxyHosts>*.paetec.com|*.corp.paetec.com</nonProxyHosts>
		</proxy>
	</proxies>
  <servers>
	  <server>
		 <id>paetec-snapshots</id>
		 <username>deployment</username>
		 <password>deployment</password>
	  </server>
	  <server>
		 <id>paetec-releases</id>
		 <username>deployment</username>
		 <password>deployment</password>
	  </server>
	  <server>
		 <id>thirdparty</id>
		 <username>deployment</username>
		 <password>deployment</password>
	  </server>
  </servers>
  <mirrors>
    <mirror>
      <!--This sends everything to /public except third_party -->
      <id>nexus</id>
      <mirrorOf>*,!third_party,!soapui</mirrorOf>
      <url>http://maven.corp.paetec.com/nexus/content/groups/public</url>
    </mirror>
  </mirrors>
    <profiles>
		<profile>
		  <id>nexus</id>
		  <!--Enable snapshots for the built in central repo to direct -->
		  <!--all requests to nexus via the mirror -->
		  <repositories>
			<repository>
			  <id>PAETEC</id>
			  <url>http://maven.corp.paetec.com/nexus/content/groups/public</url>
			  <releases><enabled>true</enabled></releases>
			  <snapshots><enabled>true</enabled></snapshots>
			</repository>
			<repository>
				 <id>third_party</id>
			  <url>http://maven.corp.paetec.com/nexus/content/repositories/thirdparty</url>
			  <releases><enabled>true</enabled></releases>
			  <snapshots><enabled>true</enabled></snapshots>
			</repository>
		  </repositories>
		 <pluginRepositories>
			<pluginRepository>
			  <id>PAETEC</id>
			  <url>http://maven.corp.paetec.com/nexus/content/groups/public</url>
			  <releases><enabled>true</enabled></releases>
			  <snapshots><enabled>true</enabled></snapshots>
			</pluginRepository>
		  </pluginRepositories>
		</profile>
    </profiles>
  <activeProfiles>
    <!--make the profile active all the time -->
    <activeProfile>nexus</activeProfile>
  </activeProfiles>
</settings>